.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-bg: #000;
  --button-color: #fff;
  --button-hover: #333;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  gap: 2rem;
  font-family: var(--font-geist-sans);
  margin-bottom: 5rem;
}

.loadAnimation {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.main {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sectionsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 0 1rem;
  max-width: 1200px;
  font-size: 1.2rem;
}

.controls {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.controlButton {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--button-color);
  background-color: var(--button-bg);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--button-hover);
  }
}

.comparisonLabels {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;

  & span {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 2rem;
    color: #fff;
  }
}

.dividerLine {
  flex: 1;
  height: 1px;
  background-color: #000;
  border: none;
  margin: 0;
  opacity: 0.3;
}

.description {
  max-width: 600px;
  text-align: center;
  line-height: 1.6;
  margin-top: 1rem;
  transform: translateY(10px);
}

.visible {
  opacity: 1;
  transform: translateY(0);

  & .controls {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.1s;
  }
}

.description.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-bg: #fff;
    --button-color: #000;
    --button-hover: #ddd;
  }

  .logo {
    filter: invert();
  }

  .dividerLine {
    background-color: #fff;
  }
}

.controlButton[type="number"] {
  border: none;
  background: #f0f0f0;
  border-radius: 4px;
  font-size: 14px;
}

.controlButton[type="number"]:focus {
  outline: none;
  background: #ffffff;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}
